body {
  padding-top: 70px;
}

.twim-footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 100px;
}

div.mce-fullscreen {
  z-index: 5000;
}

.mce-fullscreen {
  z-index: 5000;
}

.thumb {
    width: 32px;
    height: 32px;
    float: none;
    position: relative;
}
