<div class="jumbotron">
  <div class="container">
    <h1>Twim Backoffice!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p><a class="btn btn-primary btn-lg" ng-href="#/home" role="button" ng-show="!loggedin" ng-disabled="true">Sign Up »</a></p>
  </div>
</div>
<div class="container" ng-show="loggedin">
  <div class="row">
    <div class="col-md-4">
      <h2>Category</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p><a class="btn btn-info" href="#/category/list" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Topic</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p><a class="btn btn-info" href="#/topic/list" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Feedback</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <p><a class="btn btn-info" href="#/" role="button" ng-disabled="true">View details »</a></p>
    </div>
  </div>
</div>
